<div class="container">
	<div class="card mt-4">
		<div class="card-body">
			<h1 class="d-inline">ExpressJs Starter</h1><h4 class="d-inline"> with <b>mvc</b> concept</h4>
			<a class="float-right d-inline" href="/home">Home</a>
		</div>
	</div>
</div>